3-xml-validation/xmllint/Biblio_Schema.xsd

<?xml version="1.0" encoding = "ISO-8859-1" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="biblio" type="buchListe" />
	<xsd:complexType name="buchListe">
		<xsd:sequence>
			<xsd:element name="buch" type="buch" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="buch">
		<xsd:sequence>
			<xsd:element name="kuerzel" type="xsd:string" />
			<xsd:element name="titel" type="xsd:string" />
			<xsd:element name="autoren" type="xsd:string" />
			<xsd:element name="verlag" type="xsd:string" />
		</xsd:sequence>
		<xsd:attribute name="buch_id" type="xsd:ID" use="required" />
	</xsd:complexType>
</xsd:schema>
